body {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: cover;
  }



  nav {
	float: right;
  }
  
  
  h1 {
	font-size: 24px;
	font-weight: bold;
	margin-left: 10%;
  }

  
  p {
	margin: 10px 0;
  }
  
  a {
	color: #000;
	text-decoration: none;
  }
  
  section {
	margin-top: 100px;
  }
  
  section h2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
  }
  
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	display: inline-block;
	margin: 10px;
  }
  
  a {
	text-decoration: none;
	color: #000;
  }
  
  footer {
	background-color: #ccc;
	height: 50px;
	padding: 20px;
	
  }

  footer p {
	margin-left: 40%;
  }


input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

form {
  margin: 0 auto;
  width: 400px;
}